<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Checkers{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/main.min.css">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'elements/navbar.html.twig' %}
        {% endblock %}
        {% block body %}
        {% endblock %}

        <script src="js/jquery-3.4.0.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/bootstrap.js"></script>
        {% block javascripts %}

        {% endblock %}
        <script src="js/main.js"></script>
    </body>
</html>