<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Checkers{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="css/main.min.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <script src="js/jquery-3.4.0.min.js"></script>
            <script src="js/jquery-ui.min.js"></script>
            <script src="js/main.js"></script>
        {% endblock %}
    </body>
</html>